/*Some css fixes to use night theme with IPython slides*/
body {
background-color: #111111;
}
.reveal h1 {
color: white;
font-size: 2.5em;
}
.reveal h2 {
color: white;
font-size: 2em;
}
.reveal h3 {
color: white;
font-size: 1.75em;
}
.reveal h4 {
color: white;
font-size: 1.75em;
}
.reveal p {
color: white;
font-size: 1.75em;
}
.reveal ul {
color: white;
font-size: 1.2em;
}
.reveal ol {
  color: white;
  font-size: 1.2em;
}
.reveal li {
  color: white;
  font-size: 1.2em;
}
div.output_area pre {
color: white;
}
div.output_stderr {
background: #F00;
}
.reveal table th, .reveal table td {
color: white;
font-size: 1.2em;
}
